/* color variables */
:root{
  --color-primary: #444d4d;
  --color-secondary: #4db9c5;
  --color-primary-text: #bcd7e4;
  --color-text-hover: #e1dfc4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
  border: 2px solid var(--color-secondary);
  padding: 1em;
  border-radius: 1em;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flex-row{
  flex-direction: row;
}


label, input{
  color: var(--color-primary-text);
  font-size: 1.2em;
}

label{
  margin: .1em .5em ;
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-secondary);
  outline: none;
}

input[type="submit"],input[type="color"]{ 
  border: none;
}


input[type="submit"]{
  margin: .5em auto;
  font-size: 1.8rem;
}

input[type="submit"]:hover{
  color: var(--color-text-hover);
  border: 2px solid var(--color-secondary);
  padding: .2em;
  border-radius: 1em;
  cursor: pointer;
  transition: all .3s ease-in-out;
}


a{
  color: var(--color-primary-text);
  margin: 1em auto;
  font-size: 1.2em;
}
a:hover{
  color: var(--color-text-hover);
}